<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  
    <!-- <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css"> -->
    <!-- <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css"> -->
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
	<!-- <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script> -->
    <!-- <script src="../plugins/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- 引入angular -->
    <!-- <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script> -->
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    
    <!-- <script type="text/javascript" src="../js/base.js"></script> -->

    <!--<script type="text/javascript" src="../js/service/newitemCatService.js"></script>-->
    <!--<script type="text/javascript" src="../js/controller/itemCatController.js"></script>-->
    
    
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="siteCtrl">

            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">                       		
                            <li class="active">
                                <a href="#home" data-toggle="tab">分类申请</a>
                            </li>
                        </ul>
                        <!--tab头/-->
						
                        <!--tab内容-->
                        <div class="tab-content">

                            <!--表单内容-->
                            <div class="tab-pane active" id="home">
                                <div class="row data-type">
		                           <div class="col-md-2 title">一级分类</div>
		                           <div class="col-md-10 data">
		                               <input type="text" ng-model="itemcat" class="form-control" placeholder="分类名称" value="">
		                           </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                  <div class="DemoController">
				      <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>确定申请</button>
				  </div>

                
            </section>
</body>
<script>
                    var App = angular.module('pinyougou', []);

                    App.controller("siteCtrl", ["$scope", "$http", function ($scope, $http) {
                        $scope.save = function () {
                            $http({
                                method: 'POST',
                                data: {
                                    'data': '1111'
                                },
                                url: 'newitemcat/save'
                            }).then(function successCallback(response) {
                                    // 请求成功执行代码
                            }, function errorCallback(response) {
                                // 请求失败执行代码
                        });
                        }
                    }]);
                </script>
</html>